@include font-face('JS Group Icons', 'js-group-icons');

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'JS Group Icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-bag:before {
    content: "\e60d";
}
.icon-box-checked:before {
    content: "\f046";
}
.icon-box-unchecked:before {
    content: "\f096";
}
.icon-menu:before {
    content: "\e60c";
}
.icon-telephone-handset:before {
    content: "\e600";
}
.icon-map-pin:before {
    content: "\e601";
}
.icon-stamp:before {
    content: "\e602";
}
.icon-arrow-right-solid:before {
    content: "\e603";
}
.icon-facebook-f:before {
    content: "\e604";
}
.icon-instagram:before {
    content: "\e605";
}
.icon-pinterest-p:before {
    content: "\e606";
}
.icon-arrow-right-xlarge:before {
    content: "\e607";
}
.icon-arrow-left-xlarge:before {
    content: "\e608";
}
.icon-search:before {
    content: "\e609";
}
.icon-store:before {
    content: "\e60a";
}
.icon-safe:before {
    content: "\e60b";
}
.icon-fancy:before {
    content: "\46";
}
.icon-twitter:before {
    content: "\54";
}
.icon-facebook:before {
    content: "\66";
}
.icon-pinterest:before {
    content: "\70";
}
.icon-tumblr:before {
    content: "\74";
}
.icon-vimeo:before {
    content: "\76";
}
.icon-youtube:before {
    content: "\79";
}
.icon-gift:before {
    content: "\e60e";
}
.icon-calendar:before {
    content: "\e60f";
}
.icon-arrow-left-curved:before {
    content: "\e610";
}
.icon-arrow-right-curved:before {
    content: "\e611";
}
.icon-cross:before {
    content: "\e612";
}
.icon-cross-circle:before {
    content: "\e613";
}
.icon-info:before {
    content: "\e614";
}
.icon-info-circle:before {
    content: "\e615";
}
.icon-arrow-left:before {
    content: "\e616";
}
.icon-arrow-down:before {
    content: "\e617";
}
.icon-arrow-up:before {
    content: "\e618";
}
.icon-arrow-right:before {
    content: "\e619";
}
.icon-arrow-left-small:before {
    content: "\e61a";
}
.icon-arrow-down-small:before {
    content: "\e61b";
}
.icon-arrow-up-small:before {
    content: "\e61c";
}
.icon-arrow-right-small:before {
    content: "\e61d";
}
.icon-arrow-left-large:before {
    content: "\e61e";
}
.icon-arrow-down-large:before {
    content: "\e61f";
}
.icon-arrow-up-large:before {
    content: "\e620";
}
.icon-arrow-right-large:before {
    content: "\e621";
}
.icon-link:before {
    content: "\e622";
}
.icon-cross2:before {
    content: "\e117";
}
