@import "app/styles/icon-code-variables";

@include font-face('JS Group Icons', 'js-group-icons');

%icon-pseudo-element-base {
    /* show the icon if modernizer detected support */
    display: inline;
    font-family: 'JS Group Icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

%icon-font-base {
    display: inline-block;
}

$iconSelector: '[class^="icon-"], [class*=" icon-"]';
#{$iconSelector},
%icon-base {
    @extend %icon-font-base;

    &:before {
        @extend %icon-pseudo-element-base;
    }
}

%icon-suffix-base {
    @extend %icon-font-base;

    &:after {
        @extend %icon-pseudo-element-base;
    }
}



.icon-js-group-logo {
    &:before {
        content: $icon-js-group-logo;
    }
}
.icon-ml-brides-logo-black {
    &:before {
        content: $icon-ml-brides-logo-black;
    }
}
.icon-monique-lhuillier-logo-black {
    &:before {
        content: $icon-monique-lhuillier-logo-black;
    }
}
.icon-cynthia-rowley-logo-black {
    &:before {
        content: $icon-cynthia-rowley-logo-black;
    }
}
.icon-js-collections-logo-black {
    &:before {
        content: $icon-js-collections-logo-black;
    }
}
.icon-carmen-marc-valvo-logo-black {
    &:before {
        content: $icon-carmen-marc-valvo-logo-black;
    }
}
.icon-david-meister-logo-black {
    &:before {
        content: $icon-david-meister-logo-black;
    }
}
.icon-theia-logo-black {
    &:before {
        content: $icon-theia-logo-black;
    }
}
.icon-box-unchecked {
    &:before {
        content: $icon-box-unchecked;
    }
}
.icon-box-checked {
    &:before {
        content: $icon-box-checked;
    }
}
.icon-link {
    &:before {
        content: $icon-link;
    }
}
.icon-arrow-right-large {
    &:before {
        content: $icon-arrow-right-large;
    }
}
.icon-arrow-up-large {
    &:before {
        content: $icon-arrow-up-large;
    }
}
.icon-arrow-down-large {
    &:before {
        content: $icon-arrow-down-large;
    }
}
.icon-arrow-left-large {
    &:before {
        content: $icon-arrow-left-large;
    }
}
.icon-arrow-right-small {
    &:before {
        content: $icon-arrow-right-small;
    }
}
.icon-arrow-up-small {
    &:before {
        content: $icon-arrow-up-small;
    }
}
.icon-arrow-down-small {
    &:before {
        content: $icon-arrow-down-small;
    }
}
.icon-arrow-left-small {
    &:before {
        content: $icon-arrow-left-small;
    }
}
.icon-arrow-right {
    &:before {
        content: $icon-arrow-right;
    }
}
.icon-arrow-up {
    &:before {
        content: $icon-arrow-up;
    }
}
.icon-arrow-down {
    &:before {
        content: $icon-arrow-down;
    }
}
.icon-arrow-left {
    &:before {
        content: $icon-arrow-left;
    }
}
.icon-info-circle {
    &:before {
        content: $icon-info-circle;
    }
}
.icon-info {
    &:before {
        content: $icon-info;
    }
}
.icon-cross-circle {
    &:before {
        content: $icon-cross-circle;
    }
}
.icon-cross {
    &:before {
        content: $icon-cross;
    }
}
.icon-arrow-right-curved {
    &:before {
        content: $icon-arrow-right-curved;
    }
}
.icon-arrow-left-curved {
    &:before {
        content: $icon-arrow-left-curved;
    }
}
.icon-calendar {
    &:before {
        content: $icon-calendar;
    }
}
.icon-gift {
    &:before {
        content: $icon-gift;
    }
}
.icon-shopping-bag {
    &:before {
        content: $icon-shopping-bag;
    }
}
.icon-menu {
    &:before {
        content: $icon-menu;
    }
}
.icon-safe {
    &:before {
        content: $icon-safe;
    }
}
.icon-store {
    &:before {
        content: $icon-store;
    }
}
.icon-search {
    &:before {
        content: $icon-search;
    }
}
.icon-arrow-left-xlarge {
    &:before {
        content: $icon-arrow-left-xlarge;
    }
}
.icon-arrow-right-xlarge {
    &:before {
        content: $icon-arrow-right-xlarge;
    }
}
.icon-pinterest-p {
    &:before {
        content: $icon-pinterest-p;
    }
}
.icon-instagram {
    &:before {
        content: $icon-instagram;
    }
}
.icon-facebook-f {
    &:before {
        content: $icon-facebook-f;
    }
}
.icon-arrow-right-solid {
    &:before {
        content: $icon-arrow-right-solid;
    }
}
.icon-stamp {
    &:before {
        content: $icon-stamp;
    }
}
.icon-map-pin {
    &:before {
        content: $icon-map-pin;
    }
}
.icon-telephone-handset {
    &:before {
        content: $icon-telephone-handset;
    }
}
.icon-cross2 {
    &:before {
        content: $icon-cross2;
    }
}
.icon-youtube {
    &:before {
        content: $icon-youtube;
    }
}
.icon-vimeo {
    &:before {
        content: $icon-vimeo;
    }
}
.icon-tumblr {
    &:before {
        content: $icon-tumblr;
    }
}
.icon-pinterest {
    &:before {
        content: $icon-pinterest;
    }
}
.icon-facebook {
    &:before {
        content: $icon-facebook;
    }
}
.icon-twitter {
    &:before {
        content: $icon-twitter;
    }
}
.icon-fancy {
    &:before {
        content: $icon-fancy;
    }
}
