$icon-js-group-logo: "\e907";
$icon-ml-brides-logo-black: "\e900";
$icon-monique-lhuillier-logo-black: "\e901";
$icon-cynthia-rowley-logo-black: "\e902";
$icon-js-collections-logo-black: "\e903";
$icon-carmen-marc-valvo-logo-black: "\e904";
$icon-david-meister-logo-black: "\e905";
$icon-theia-logo-black: "\e906";
$icon-box-unchecked: "\f096";
$icon-box-checked: "\f046";
$icon-link: "\e622";
$icon-arrow-right-large: "\e621";
$icon-arrow-up-large: "\e620";
$icon-arrow-down-large: "\e61f";
$icon-arrow-left-large: "\e61e";
$icon-arrow-right-small: "\e61d";
$icon-arrow-up-small: "\e61c";
$icon-arrow-down-small: "\e61b";
$icon-arrow-left-small: "\e61a";
$icon-arrow-right: "\e619";
$icon-arrow-up: "\e618";
$icon-arrow-down: "\e617";
$icon-arrow-left: "\e616";
$icon-info-circle: "\e615";
$icon-info: "\e614";
$icon-cross-circle: "\e613";
$icon-cross: "\e612";
$icon-arrow-right-curved: "\e611";
$icon-arrow-left-curved: "\e610";
$icon-calendar: "\e60f";
$icon-gift: "\e60e";
$icon-shopping-bag: "\e60d";
$icon-menu: "\e60c";
$icon-safe: "\e60b";
$icon-store: "\e60a";
$icon-search: "\e609";
$icon-arrow-left-xlarge: "\e608";
$icon-arrow-right-xlarge: "\e607";
$icon-pinterest-p: "\e606";
$icon-instagram: "\e605";
$icon-facebook-f: "\e604";
$icon-arrow-right-solid: "\e603";
$icon-stamp: "\e602";
$icon-map-pin: "\e601";
$icon-telephone-handset: "\e600";
$icon-cross2: "\e117";
$icon-youtube: "\79";
$icon-vimeo: "\76";
$icon-tumblr: "\74";
$icon-pinterest: "\70";
$icon-facebook: "\66";
$icon-twitter: "\54";
$icon-fancy: "\46";