// Bootstrap variables to override
$icon-font-path: '../fonts/';

// colors
$gray: #575757;

$brand-primary: #000000;

$text-color: $gray;
$link-color: $brand-primary;
$link-hover-color: lighten($link-color, 40%);
$link-hover-decoration: none;

// Typography
$font-family-sans-serif: 'Avenir Next', 'Helvetica Neue', Helvetica, sans-serif;

$font-size-base: 16px;

$font-size-h2: 48px;
$font-size-h3: 20px;
$font-size-h4: 16px;
$font-size-h5: 14px;

$line-height-base: 22/16;

$headings-font-weight: 100;

// Components

$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

// Buttons
$btn-font-weight: 100;
$btn-default-color: #E2E2E2;
$btn-default-bg: #2d2d2e;
$btn-default-border: #363636;

// Grid system
$grid-gutter-width: 20px;

// Container sizes
$container-lg: 940px + $grid-gutter-width;

// Forms
$input-bg: #696969;
$input-bg-disabled: darken($input-bg, 25%);

$input-color: #E2E2E2;
$input-border: #2A2A2A;

$input-color-placeholder: #e2e2e2;

// @import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// bower:scss
// endbower
@import "app/styles/bootstrap-custom";

// my variables
$fontFilePath: '../fonts'; // no trailing slash!
$fontStackAvenirNext: 'Avenir Next', 'Helvetica Neue', Helvetica, sans-serif;

@mixin font-face($font-name, $font-filename-base, $style: 'normal', $weight: 400){
    @font-face {
        font-family: '#{$font-name}';
        /* testing */
        src: url('#{$fontFilePath}/#{$font-filename-base}.eot'); /* IE9 Compat Modes */
        src: url('#{$fontFilePath}/#{$font-filename-base}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        // url('#{$fontFilePath}/#{$font-filename-base}.woff2') format('woff2'), /* Super Modern Browsers */
        url('#{$fontFilePath}/#{$font-filename-base}.woff') format('woff'), /* Pretty Modern Browsers */
        url('#{$fontFilePath}/#{$font-filename-base}.ttf')  format('truetype'); /* Safari, Android, iOS */

        font-style: $style;
        font-weight: $weight;
    }
}

/* Vertical Centering Mixin - now 100% table free!
   http://css-tricks.com/centering-in-the-unknown/ */
@mixin verticalCenterChildElements() {
    font-size: 0; /* set to remove the spacing from the :before element */

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    > * {
        font-size: 16px; /* ratchet up the font-size to the default base hight; */
        display: inline-block;
        vertical-align: middle;
    }
}

/*============================================================================
  Dependency-free breakpoint mixin
  - http://blog.grayghostvisuals.com/sass/sass-media-query-mixin/
  ==============================================================================*/
$min: min-width;
$max: max-width;
@mixin at-query ($constraint, $viewport1, $viewport2:null) {
    @if $constraint == $min {
        @media screen and ($min: $viewport1) {
            @content;
        }
    } @else if $constraint == $max {
        @media screen and ($max: $viewport1) {
            @content;
        }
    } @else {
        @media screen and ($min: $viewport1) and ($max: $viewport2) {
            @content;
        }
    }
}

@include font-face('Avenir Next', 'AvenirNext-Regular');
@include font-face('Avenir Next', 'AvenirNext-SemiBold', $weight: 600);
@include font-face('Avenir Next', 'AvenirNext-UltraLight', $weight: 100);

@import 'icons';

// header
body {
    padding-top: 78px;
}
.headroom {
    transition: transform 200ms linear;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

// helper classes

.hidden {
    display: none;
}

// extends

%clearfix {
    @include clearfix;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

$header-main-height: 78px;
.header-main {
    border-bottom: 1px solid #ECECEC;
    background: white;

    // columns
    .row > div {
        height: $header-main-height;
        padding: 12px 0;
    }

    .column-brand {

    }

    .column-nav {
        @include verticalCenterChildElements;

        text-align: center;
    }

    @include at-query($max, $screen-sm-min){
        .column-brand {
            text-align: center;
        }
    }
}

.site-logo {
    margin: 0;

    img {
        width: 230px;
        height: 53px;
    }
}

.nav-main {
    text-align: center;
    margin-bottom: 0;

    li {
        border-right: 1px solid black;
        margin-left: -5px;

        &:last-child {
            border-right: 0;
        }
    }

    a {
        text-transform: uppercase;
        padding: 0 20px;
    }
}

%hero-base {
    position: relative;
    color: #fff;

    .wrapper {
        height: 100%;
    }

    /* White image mask */
    &:before,
    &:after {
        content: '';
        height: 0px;
        width: 50%;
        display: block;
        position: absolute;
        bottom: 0px;
        border-top: 0;
        border-bottom: {
            style: solid;
            color: #fff;
        }
        z-index: 1000;
    }

    &:before {
        left: 0px;
        border-left: 0;
        border-right: {
            style: solid;
            color: transparent;
        }
    }

    &:after {
        right: 0px;
        border-right: 0;
        border-left: {
            style: solid;
            color: transparent;
        }
    }

    /* Desktop */
    @include at-query ($min, $screen-sm-min) {
        &:before,
        &:after {
            border-bottom-width: 38px;
        }

        &:before {
            border-right-width: 48px;
        }

        &:after {
            border-left-width: 48px;
        }
    }

    /* Mobile */
    @include at-query ($max, $screen-sm-min) {
        &:before,
        &:after {
            border-bottom-width: 20px;
        }

        &:before {
            border-right-width: 20px;
        }

        &:after {
            border-left-width: 20px;
        }
    }
}

.hero-main {
    @extend %hero-base;
}

%lookbook-carousel-nav-base {
    @extend %icon-base;

    transition: all 0.3s;
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    color: gray;
    z-index: 1;
    top: 44%;

    &:hover {
        outline: none;
        background: transparent;
        color: black !important;
    }

    @mixin lookbook-modal-nav-sizing($height){
        $ratio: (45/88);
        $width: $height * $ratio;

        height: $height;
        width: $width;
        margin-top: -($height/2);

        &:before {
            font-size: $height;
            /* correct for the whitespace on either side of the icon */
            margin: 0 -($width/2);
        }
    }

    @include at-query($min, $screen-sm-min){
        @include lookbook-modal-nav-sizing($height: 88px);
    }

    @include at-query($max, $screen-sm-min){
        @include lookbook-modal-nav-sizing($height: 44px);
    }
}

.carousel-main {
    position: relative;
    width: 100%;
    overflow: hidden;

    .slick-list,
    .slick-track,
    .hero-slide,
    & {
        height: 100%;
    }

    .slide {
        background-position: top center;
        background-size: cover;

        img,
        & {
            width: 100%;
        }
    }

    .slick-prev,
    .slick-next {
        &:before {
            color: #888888;
        }
    }

    .slick-prev {
        @extend %lookbook-carousel-nav-base;

        left: $grid-gutter-width*2;

        &:before {
            /* .icon-arrow-left-xlarge:before */
            content: "\e608";
        }
    }

    .slick-next {
        @extend %lookbook-carousel-nav-base;

        right: $grid-gutter-width*2;

        &:before {
            /* .icon-arrow-right-xlarge:before */
            content: "\e607";
        }
    }
}

.slick-slider {
    margin-bottom: 0;
}

%block-base {
    margin-bottom: $grid-gutter-width;

    h2, h3 {
        text-align: center;
        text-transform: uppercase;
    }

    h2 {
        margin: $grid-gutter-width*1.5 0 $grid-gutter-width*2;
    }
}

%inverted-block-base {
    background: black;
    color: white;
    margin-bottom: 0;

    a {
        color: white;
    }
}

.our-brands {
    @extend %block-base;

}

%brand-column-base {
    margin-bottom: $grid-gutter-width;

    @include at-query($max, $screen-sm-min){
        padding: 0;
        margin-bottom: 0;
    }
}

.brand-large-column {
    @extend %brand-column-base;
    @extend .col-xs-12;
}

.brand-small-column {
    @extend %brand-column-base;
    @extend .col-xs-6;
}

%brand-base {
    background-color: gray;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    border: 1px solid #C0C0C0;

    .call-to-action {
        font-family: Helvetica-Light, Helvetica, sans-serif;
        font-weight: 100;
        color: white;
        letter-spacing: 1.87px;
        text-transform: uppercase;
    }

    .inner-column {
        height: 100%;
    }

    %brand-content-row-base {
        @include verticalCenterChildElements;
    }

    .logo-row {
        @extend %brand-content-row-base;

        height: 80%;
    }

    .call-to-action-row {
        @extend %brand-content-row-base;

        height: 20%;
    }
}

.brand-link {
    .overlay {
        transition: opacity 0.3s;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #010101;
        opacity: 0.25;
    }

    &:hover .overlay {
        opacity: 0;
    }
}

.brand-large {
    @extend %brand-base;

    height: 330px;

    .inner-column {
        @extend .col-sm-6;
    }

    .brand-logo {
        filter: drop-shadow(1px 0px 35px rgba(0,0,0,1));
    }

    .call-to-action {
        font-size: 18px;
        filter: drop-shadow(1px 0px 18px rgba(0,0,0,1));
    }
}

.brand-small {
    @extend %brand-base;

    height: 210px;

    .inner-column {
        @extend .col-sm-12;
    }

    .brand-logo {
        filter: drop-shadow(1px 0px 25px rgba(0,0,0,1));
    }

    .call-to-action {
        font-size: 15px;
        filter: drop-shadow(1px 0px 10px rgba(0,0,0,0.75));
    }
}

.about {
    @extend %block-base;

    margin-bottom: 100px;
}

.contact {
    @extend %inverted-block-base;
    @extend %block-base;

    padding-top: $grid-gutter-width;
    background: url('../images/contact-bg@2x.jpg') top center no-repeat;
    background-size: cover;

    .address-column {
        &:first-of-type {
            border-right: 1px solid white;
        }

        h3 {
            margin-top: 0;
        }
    }

    address {
        text-align: center;
        font-weight: 100;
        margin-bottom: 0;
    }
}

.contact-address-row {
    margin-bottom: $grid-gutter-width*2.5;
}

/* custom checkboxs and radios */

input[type="checkbox"],
input[type="radio"] {
    display: inline;
    margin: 0;

    /* position labels following to be inline */
    & + label {
        display: inline-block;
        text-transform: none;
    }
}

%checkbox-radio-icon {
    /* hide custom checkbox styles from browers that do not support css3 psuedo classes */
    /* http://code.stephenmorley.org/html-and-css/hiding-rules-with-the-negation-pseudo-class/ */
    &:not(old) {
        display: none;

        /* http://code.stephenmorley.org/html-and-css/styling-checkboxes-and-radio-buttons/ */
        & + label {
            @extend %icon-base;
            @extend .icon-box-unchecked;

            /* ensure correct positioning of the icon, if the block is center aligned. */
            text-align: left;

            &:before {
                display: inline-block !important;
                position: relative;
                top: 1px;
            }
        }

        &:checked + label {
            @extend .icon-box-checked;
        }

        /* Desktop */
        @include at-query ($min, $screen-sm-min) {
            & + label:before {
                width: 18px;
                font-size: 16px;
            }
        }

        /* Mobile */
        @include at-query ($max, $screen-sm-min) {
            & + label:before {
                width: 24px;
                font-size: 14px;
            }
        }
    }
}

input[type="radio"], input[type="checkbox"] {
    @extend %checkbox-radio-icon;
}

.newsletter-signup {
    background: rgba(#565656, 0.81);
    padding: $grid-gutter-width $grid-gutter-width/2;
    margin-bottom: $grid-gutter-width/2;

    label {
        font-weight: 100;
    }

    .email-row {
        @extend %clearfix;

        margin-bottom: $grid-gutter-width;

        label {
            font-size: 20px;
            line-height: 36px;
            margin-bottom: 0;
        }

        input {
            font-weight: 100;
        }
    }

    .options-row {
        @extend %clearfix;

        margin-bottom: $grid-gutter-width;

        h4 {
            font-size: 14px;
            margin-top: 0;
        }

        label {
            font-size: 12px;
            margin-right: 10px;

            &:before {
                font-size: 12px;
                width: 16px;
            }
        }

        .check-all-checkbox-label {
            font-weight: 600;
        }
    }
}

footer {
    @extend %inverted-block-base;

    height: 55px;
    text-align: right;
    padding: 20px 0 10px;
    font-weight: 600;
    color: #E2E2E2;
}