<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jsgroup com</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/all.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick-theme.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <header class="header-main container-fluid">
      <div class="container">
        <div class="row">
          <div class="column-brand col-sm-5 col-xs-12">
            <h1 class="site-logo">
              <img src="{{ global.header.siteLogo.imgUrl }}" alt="JS Group Logo" />
            </h1>
          </div>
          <div class="column-nav col-sm-7 col-xs-12">
            <ul class="nav-main list-unstyled list-inline">
              <li><a data-scroll href="#brands">Brands</a></li>
              <li><a data-scroll href="#about">About Us</a></li>
              <li><a data-scroll href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    
    <div class="hero-main">
      <div id="carousel-main" class="carousel-main">
        {% for item in page.carousel.items %}
        <div class="slide{% if not loop.first %} hidden{% endif %}">
          <img src="{{ item.src }}" alt="{{ item.alt }}">
        </div>
        {% endfor %}
      </div>
    </div>
    
    <style>
        {% for brand in page.brands.brands %}
        .{{ brand.classId }}.brand-large {
            background-image: url({{ brand.image.largeSrc }});
        }
        .{{ brand.classId }}.brand-small {
            background-image: url({{ brand.image.smallSrc }});
        }
        {% endfor %}
    </style>
    <div id="brands" class="container our-brands">
      <div class="row">
        <div class="col-sm-12">
          <h2>Our Brands</h2>
        </div>
        {% for brand in page.brands.brands %}
          <div class="{% if loop.first %}brand-large-column{% else %}brand-small-column{% endif %}">
            <a class="brand-link" href="{{ brand.url }}">
              <div class="{{ brand.classId }} {% if loop.first %}brand-large{% else %}brand-small{% endif %}">
                <div class="overlay"></div>
                <div class="inner-column">
                  <div class="logo-row">
                    <img class="brand-logo "src="{{ brand.logo.src }}" alt="" />
                  </div>
                  <div class="call-to-action-row">
                    <div class="call-to-action">
                      Visit Site
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    
    <div id="about" class="container about">
      <div class="row">
        <div class="col-sm-12">
          <h2>About Us</h2>
        </div>
        <div class="col-sm-5 col-xs-12 col-sm-offset-1 col-xs-offset-0">
          <p>Groupe JS International has been a dynamic presence on the North American Fashion scene for over 40 years, having first made their mark in 1971, trading under the name Junior Scene.</p>
          <p>Today, Groupe JS International has 7 strong divisions, and is widely recognized as one of the leading suppliers of Ladies Dress, Sportswear and Evening Wear, available in specialty stores, major chain stores as well as department stores around the world. Operating our of their head office in Montreal, Canada with offices in New York, this privately help company is an innovative force int he global marketplace. </p>
          <p>Beyond the innovative strengths of this enterprising company lies a team of professionals who, from the beginning, have been guided by the more traditional ideals of customer service and product quality. Put simply, at the heart of Groupe JS International you will find people that are attentive to the needs of the retailers…people who are there to help their customers adapt to the ever changing challenges of today’s fashion markets. Each of the companies seven divisions has a unique attitude that not only reflects the trends, but meets the needs of all women regardless of age or size. </p>
        </div>
        <div class="col-sm-5 col-xs-12">
          <p>But it’s the creative talents of a dynamic international design and management tram that helps keep Groupe JS at the forefront of current styles and trends. Together, they focus on offering modern women eclectic range of better clothing ranging from daywear to evening wear and prom to bridal. </p>
          <p>Groupe JS’ goal for the future is simple. Whether for their own brands or private labels, they will continue to search world fashion venues for the inspiration that fuels their unrelenting drive and fulfill a creative vision that reflects extremely high standards and an open-minded approach to modern design. </p>
        </div>
      </div>
    </div>
    
    <div id="contact" class="container-fluid contact">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
            <h2>Keep in Touch</h2>
          </div>
        </div>
        <div class="row">
          <div class="address-column col-sm-5 col-xs-6 col-sm-offset-1 col-xs-offset-0">
            <h3>Montreal Office</h3>
            <address>
              225 rue Chabanel Suite 1015
              <br />
              Montreal, Quebec
              <br />
              H2N 2C9
              <br />
              <a href="mailto:info@jsgroup.com">info@jsgroup.com</a>
            </address>
          </div>
          <div class="address-column col-sm-5 col-xs-6">
            <h3>New York Office</h3>
            <address>
              1412 Broadway Suite 1200
              <br />
              New York, New York
              <br />
              10018
              <br />
              <a href="mailto:info@jsgroup.com">info@jsgroup.com</a>
            </address>
          </div>
          
          <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
            <div class="row newsletter-signup">
              <form class="" method="post">
                <div class="email-row">
                  <div class="col-sm-5">
                    <label for="newsletter-signup-email-address">Sign up for the latest news</label>
                  </div>
                  <div class="col-sm-7">
                    <input type="text" class="form-control" id="newsletter-signup-email-address" name="newsletter-signup-email-address" placeholder="Add your email address here" />
                  </div>
                </div>
                <div class="col-sm-8">
                  <h4>Sign me up to:</h4>
                  
                  <label for="newsletter-signup-list-theia">THEIA</label>
                  <input type="checkbox" id="newsletter-signup-list-theia" name="newsletter-signup-list-theia" />
                  <label for="newsletter-signup-list-david-meister">David Meister</label>
                  <input type="checkbox" id="newsletter-signup-list-david-meister" name="newsletter-signup-list-david-meister" />
                  <label for="newsletter-signup-list-js-collections">JS Collections</label>
                  <input type="checkbox" id="newsletter-signup-list-js-collections" name="newsletter-signup-list-js-collections" />
                  <label for="newsletter-signup-list-cynthia-rowley">Cynthia Rowley</label>
                  <input type="checkbox" id="newsletter-signup-list-cynthia-rowley" name="newsletter-signup-list-cynthia-rowley" />
                  <label for="newsletter-signup-list-monique-lhullier">Monique Lhullier</label>
                  <input type="checkbox" id="newsletter-signup-list-monique-lhullier" name="newsletter-signup-list-monique-lhullier" />
                  <label for="newsletter-signup-list-check-all">Check All</label>
                  <input type="checkbox" id="newsletter-signup-list-check-all" name="newsletter-signup-list-check-all" />
                </div>
                <div class="col-sm-4">
                  <h4>I am a:</h4>
                  
                  <label for="newsletter-signup-user-retailer">Retailer</label>
                  <input type="radio" id="newsletter-signup-user-retailer" name="newsletter-signup-user-type" value="retailer"/>
                  <label for="newsletter-signup-user-customer">Customer</label>
                  <input type="radio" id="newsletter-signup-user-customer" name="newsletter-signup-user-type" value="customer"/>
                </div>
                <div class="col-sm-12">
                  <button type="submit" id="newsletter-signup-submit" name="newsletter-signup-submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-xs-12 col-sm-offset-1 col-xs-offset-0">
            {{ global.footer.copyright }} &copy; {{ runtime.date.year }}
          </div>
        </div>
      </div>
    </footer>
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-12670143-1');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="/bower_components/smooth-scroll/dist/js/smooth-scroll.js"></script>
    <script src="/bower_components/headroom.js/dist/headroom.js"></script>
    <script src="/bower_components/headroom.js/dist/jQuery.headroom.js"></script>
    <script src="/bower_components/headroom.js/dist/angular.headroom.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
        
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
