<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jsgroup com</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/all.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick-theme.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="header-main container-fluid">
      <div class="container">
        <div class="row">
          <div class="column-brand col-sm-5 col-xs-12">
            <h1 class="site-logo">
              <img src="{{ global.header.siteLogo.imgUrl }}" alt="JS Group Logo" />
            </h1>
          </div>
          <div class="column-nav col-sm-7 col-xs-12">
            <ul class="nav-main list-unstyled list-inline">
              <li><a data-scroll href="#brands">Brands</a></li>
              <li><a data-scroll href="#about">About Us</a></li>
              <li><a data-scroll href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <div class="hero-main">
      <div id="carousel-main" class="carousel-main">
        {% for item in page.carousel.items %}
        <div class="slide{% if not loop.first %} hidden{% endif %}">
          <img class="slide-image-desktop" src="{{ item.src.desktop }}" alt="{{ item.alt }}">
          <img class="slide-image-mobile" src="{{ item.src.mobile }}" alt="{{ item.alt }}">
        </div>
        {% endfor %}
      </div>
    </div>

    <style>
        {% for brand in page.brands.brands %}
        .{{ brand.classId }}.brand-large {
            background-image: url({{ brand.image.largeSrc }});
        }
        .{{ brand.classId }}.brand-small {
            background-image: url({{ brand.image.smallSrc }});
        }
        {% endfor %}
    </style>

    <div id="brands" class="container our-brands">
      <div class="row">
        <div class="col-sm-12">
          <h2>Our Brands</h2>
        </div>
        {% for brand in page.brands.brands %}
          <div class="{% if loop.first %}brand-large-column{% else %}brand-small-column{% endif %}">
            <a class="{{ brand.classId }} {% if loop.first %}brand-large{% else %}brand-small{% endif %}" href="{{ brand.url }}">

              <div class="overlay"></div>
              <div class="inner-column">
                <div class="logo-row">
                  <img class="brand-logo "src="{{ brand.logo.src }}" alt="" />
                </div>
                <div class="call-to-action-row">
                  <div class="call-to-action">
                    Visit Site
                  </div>
                </div>
              </div>

            </a>
          </div>
        {% endfor %}
      </div>
    </div>

    <div id="about" class="container about">
      <div class="row">
        <div class="col-sm-12">
          <h2>About Us</h2>
        </div>
        <div class="col-sm-10 col-xs-12 col-sm-offset-1 col-xs-offset-0">
          {% for paragraph in page.about.content %}
            <p>{{ paragraph }}</p>
          {% endfor %}
        </div>
      </div>
    </div>

    <div id="contact" class="container-fluid contact">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
            <h2>Keep in Touch</h2>
          </div>
        </div>
        <div class="row contact-address-row">
          <div class="address-column col-sm-5 col-xs-6 col-sm-offset-1 col-xs-offset-0">
            <h3>Montreal Office</h3>
            <address>
              225 rue Chabanel Suite 1015
              <br />
              Montreal, Quebec
              <br />
              H2N 2C9
              <br />
              <a href="mailto:info@jsgroup.com">info@jsgroup.com</a>
            </address>
          </div>
          <div class="address-column col-sm-5 col-xs-6">
            <h3>New York Office</h3>
            <address>
              1412 Broadway Suite 1200
              <br />
              New York, New York
              <br />
              10018
              <br />
              <a href="mailto:info@jsgroup.com">info@jsgroup.com</a>
            </address>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
            <div class="row newsletter-signup">

              <form action="//TheiaCouture.us10.list-manage.com/subscribe/post?u=93097ca057ce68a7504f2c8eb&amp;id=e371821351" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                <div class="email-row">
                  <div class="col-md-5">
                    <label for="newsletter-signup-email-address">Sign up for the latest news</label>
                  </div>
                  <div class="col-md-7">
                    <input type="email" class="form-control required email" id="mce-EMAIL" name="EMAIL" placeholder="Add your email address here" />
                  </div>
                </div>
                <div class="options-block  col-sm-8">
                  <h4>Sign me up to:</h4>

                  <input type="checkbox" value="1" name="group[9601][1]" id="mce-group[9601]-9601-0">
                  <label for="mce-group[9601]-9601-0">THEIA</label>
                  <input type="checkbox" value="2" name="group[9601][2]" id="mce-group[9601]-9601-1">
                  <label for="mce-group[9601]-9601-1">David Meister</label>
                  <input type="checkbox" value="4" name="group[9601][4]" id="mce-group[9601]-9601-2">
                  <label for="mce-group[9601]-9601-2">JS Collections</label>
                  <input type="checkbox" value="8" name="group[9601][8]" id="mce-group[9601]-9601-3">
                  <label for="mce-group[9601]-9601-3">Cynthia Rowley</label>
                  <input type="checkbox" value="16" name="group[9601][16]" id="mce-group[9601]-9601-4">
                  <label for="mce-group[9601]-9601-4">Monique Lhullier</label>

                  <input type="checkbox" id="newsletter-signup-list-check-all" name="newsletter-signup-list-check-all" />
                  <label class="check-all-checkbox-label" for="newsletter-signup-list-check-all">Check All</label>

                </div>
                <div class="options-block col-sm-4 col-xs-8">
                  <h4>I am a:</h4>


                  <input type="radio" value="32" name="group[9605]" id="mce-group[9605]-9605-0">
                  <label for="mce-group[9605]-9605-0">Retailer</label>
                  <input type="radio" value="64" name="group[9605]" id="mce-group[9605]-9605-1">
                  <label for="mce-group[9605]-9605-1">Customer</label>

                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_93097ca057ce68a7504f2c8eb_e371821351" tabindex="-1" value="">
                  </div>

                </div>

                <div id="mce-responses" class="col-xs-12 mailchimp-responses-block">
		  <div class="response" id="mce-error-response" style="display:none"></div>
		  <div class="response" id="mce-success-response" style="display:none"></div>
	        </div>

                <div class="submit-button-block col-sm-12 col-xs-4">
                  <button type="submit" id="mc-embedded-subscribe" name="subscribe" class="btn btn-default btn-lg">Submit</button>
                </div>

                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="footer-content-block col-sm-10 col-xs-12 col-sm-offset-1 col-xs-offset-0">
            {{ global.footer.copyright }} &copy; {{ runtime.date.year }}
          </div>
        </div>
      </div>
    </footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your sites ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-12670143-1');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="/bower_components/smooth-scroll/dist/js/smooth-scroll.js"></script>
    <script src="/bower_components/headroom.js/dist/headroom.js"></script>
    <script src="/bower_components/headroom.js/dist/jQuery.headroom.js"></script>
    <script src="/bower_components/headroom.js/dist/angular.headroom.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
